<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Axotlacuali</title>
  <link rel="icon" type="image/svg" href="/images/Axotlacuali_logo.svg">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <% if (pageCSS) { %>
  <link rel="stylesheet" href="/css/<%= pageCSS %>.css">
  <% } %>
</head>

<body>
  <!-- Header -->
  <%- include("../partials/header") %>
  <!-- Main Content -->
  <main>
    <%- body %>
  </main>
  <!-- Footer -->
  <%- include("../partials/footer") %>
  <script src="/js/main.js"></script>
</body>

</html>