<div class="page-title">
  <h2>Lugares para Comer</h2>
</div>

<div class="cards-container">
  <!-- Tarjetas -->
  <% restaurantes.forEach((restaurante, index) => { %>
  <div class="card">
    <!-- Contenido -->
    <div class="card-content">
      <h3><%= restaurante.nombre %></h3>
      <div class="card-description">
        <h4>Descripción</h4>
        <p><%= restaurante.descripcion %></p>
      </div>
      <div class="details-container">
        <div class="detail-item">
          <h4>Horario:</h4>
          <p><%= restaurante.horario %></p>
        </div>
        <div class="detail-item">
          <h4>Tipo de comida:</h4>
          <p><%= restaurante.tipo_comida %></p>
        </div>
        <div class="detail-item">
          <h4>Rango de precio:</h4>
          <p><%= restaurante.rango_precio %></p>
        </div>
      </div>
      <div class="card-btns">
        <% if (restaurante.url_direccion) { %>
        <a href="<%= restaurante.url_direccion %>" class="btn"><i class="fa-solid fa-map-pin"></i> Ubicación</a>
        <% } %>
        <button class="btn menu-btn" id="abrirMenu_<%= index + 1 %>"><i class="fa-solid fa-utensils"></i> Ver menú</button>
      </div>
    </div>
    <div class="card-image">
      <img src="<%= restaurante.imagen %>" alt="Foto de <%= restaurante.nombre %>">
    </div>

    <!-- Modal para menú -->
    <dialog class="menu-modal" id="menuModal_<%= index + 1 %>">
      <div class="menu-content">
        <span class="btn close-btn" id="cerrarMenu_<%= index + 1 %>"><i class="fa-solid fa-x"></i></span>
        <h3>Menú de <%= restaurante.nombre %></h3>
        <ul>
          <% menus.forEach(menu_item => { %>
          <% if (menu_item.id_restaurantes == (index + 1)) { %>
          <li><strong><%= menu_item.plato %></strong>: $<%= menu_item.precio %><% if (menu_item.precio_max > 0) { %>
            - $<%= menu_item.precio_max %>
            <% } %></li>
          <% } %>
          <% }) %>
        </ul>
      </div>
    </dialog>

  </div>
  <% }) %>
</div>
<script src="./js/comida.js"></script>